body{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family:"Montserrat",sans-serif ;
}
h1{
    font-weight: bold;
    color: black;
}
div{
    color: rgb(241, 243, 235);
}
.div1{
    background-color: rgb(84, 236, 236);
    margin: 20px;
    padding: 20px 50px;
    border-radius: 10px;

}

.div2{
    background-color: rgb(229, 81, 229);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.div3{
    background-color: rgb(90, 212, 90);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.div4{
    background-color: rgb(77, 91, 213);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
img{
    width: 70%;
    height: 70%;
    border-radius: 10px;
}
